.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;

    .description {
        width: 30rem;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
    }

    .full__table {
        height: 35rem;
        width: 41rem;
        .dropdown {
            width: 13rem;
            z-index: 10;
            position: absolute;

            button {
                display: flex;
                align-items: center;
                column-gap: 1rem;
                padding: 0.5rem;
                font-size: 1rem;
                background-color: transparent;
                border: 0;
                color: var(--blue);
                font-weight: 500;
                cursor: pointer;
                width: 100%;

                .selected,
                button > span:hover {
                    padding-bottom: 0.1rem;
                    border-bottom: 0.15rem solid;
                    border-color: var(--yellow);
                }

                svg {
                    transform: rotate(270deg);
                    width: 0.75rem;
                }
            }

            .dropdown_content {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border-radius: 5px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 0.8rem;
                background: var(--blue);
                color: var(--white);
                cursor: pointer;

                & a {
                    width: stretch;
                    padding: 0.5rem 1rem;
                    text-align: left;

                    &:last-child {
                        border-radius: 0 0 5px 5px;
                    }
                }

                hr {
                    position: absolute;
                    width: 80%;
                    margin-block: 0.5rem;
                    border-color: var(--blue);
                    opacity: 0.3;
                }
            }

            .visible {
                visibility: visible;
                display: flex;
            }

            .rotateArrow {
                animation-name: turnArrow;
                animation-duration: 500ms;
                transform-origin: 50% 50%;
                animation-fill-mode: forwards;
                display: inline-block;
            }
            @keyframes turnArrow {
                0% {
                    transform: rotate(-90deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }

        .table {
            transform: translateY(15%);
            .title {
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                color: var(--grey-background);
                font-size: 0.9rem;
                margin-bottom: 1%;
                #ci {
                    width: 20%;
                    text-align: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

            .table-artists {
                height: 23.6rem;
                overflow-y: auto;
                border-radius: 5px;
                box-shadow: inset 0.5px 0.5px 3px rgba(7, 97, 157, 0.25);
                padding-inline: 1rem;
                background: rgba(7, 97, 157, 0.05);
                &::-webkit-scrollbar-thumb {
                    background: var(--blue);
                    border-radius: 3px;
                }

                &::-webkit-scrollbar {
                    width: 4px;
                }
            }

            table {
                font-size: 1rem;
                line-height: 1.2rem;
                width: 100%;
                border-collapse: collapse;

                td {
                    border-bottom: 1px solid #07619d59;
                }
                td:nth-child(1) {
                    width: 16%;
                    padding: 0.5rem;
                    text-align: center;
                }
                td:nth-child(2) {
                    padding-inline-start: 0.8rem;
                }

                tr:last-child td {
                    border-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 1199.98px) {
    .content .description {
        flex-grow: 1;
    }
}

@media (max-width: 991.98px) {
    .content .full__table .table .table-artists {
        background: transparent;
        box-shadow: none;
        overflow-y: visible;
    }

    .content .description {
        text-align: justify;
    }
}

@media (max-width: 767.98px) {
    .content .table {
        width: 90vw;
        gap: 0;
    }
}

@media (max-width: 575.98px) {
    .description {
        text-align: justify;
    }

    .content .table {
        width: 85vw;
        gap: 0;
    }

    .content .full__table .table .title {
        font-size: 0.7rem;
    }

    .content .full__table .table .table-artists {
        font-size: 0.9rem;
        padding: 0;
    }

    p {
        margin-bottom: 0;
    }
}
