<div class="content">
    <div class="content__title">
        <h1 class="title-sobre-page">Fundação Parnamirim de Cultura</h1>
    </div>

    <div class="content__text">
        <p>
            A Fundação Parnamirim de Cultura – FUNPAC instituída pela Lei
            municipal 1.173, de 16 de maio de 2003, é um órgão integrante da
            administração indireta do Poder Executivo Municipal de
            Parnamirim/RN.
        </p>
        <p>
            Compreendemos como nossa missão, promover o desenvolvimento
            sociocultural em nosso município, onde estimula-se o desenvolvimento
            de programas, projetos e atividades que assegurem a valorização e
            afeição da herança cultural local, oferecendo a população
            oportunidades de dialogar com a comunidade artística e cultural.
        </p>
        <p>
            A Fundação Parnamirim de Cultura – FUNPAC, desde da sua criação, tem
            desenvolvido ações permanentes em diversas áreas, como música,
            canto, dança, teatro, arte visuais, artes plásticas, literatura,
            cinema, cultura popular entre outros. Estas atividades são
            realizadas em sua sede, como também nas escolas da rede municipal,
            associações e praças.
        </p>
        <p>
            Há anos mantemos o Núcleo de Música e Dança atendendo a um número
            expressivo de crianças e adolescentes do nosso município, como
            também fazendo papel social e educativo na sociedade parnamirinense.
        </p>
        <p>
            Além disso, são desempenhamos eventos globais que já são marco no
            município, tais como Virada Cultural, Carnaval Multicultural,
            Roteiro junino, Festa do Sabugo e Marcha para Jesus.
        </p>
        <p>
            Em suas ações, a FUNPAC busca sempre promover o acesso da comunidade
            priorizando e possibilitando a participação ativa na construção de
            políticas públicas, no meio cultural municipal.
        </p>
    </div>

    <div class="actions">
        <app-button [externalRoute]="lei_criacao_url"
            >LEIS DE CRIAÇÃO
        </app-button>
        <app-button [externalRoute]="estatuto_social_url"
            >ESTATUTO SOCIAL</app-button
        >
    </div>
</div>
