.content {
    height: auto;
    &__title {
        color: var(--blue);
        font-size: 1.2rem;
    }

    &__text {
        color: var(--black);
        p {
            text-align: justify;
            font-size: 1.11rem;
            strong {
                color: var(--blue);
            }
        }
    }

    &__galleries {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: flex-start;
    }
}

ngx-skeleton-loader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 991.98px) {
    .content .content__galleries {
        justify-content: space-around;
        gap: 0.8rem;
    }
}

@media (max-width: 767.98px) {
    .content .content__title {
        font-size: 0.9rem;
    }

    .content .content__text p {
        font-size: 0.85rem;
    }

    .content .content__galleries {
        justify-content: space-around;
        gap: 1rem;
    }
}

@media (max-width: 575.98px) {
    .content .content__title {
        font-size: 0.71rem;
    }

    .content .content__text p {
        font-size: 0.9rem;
    }

    h1 {
        margin-bottom: 1rem;
    }
}
