div {
    span {
        font-size: 1rem;
        cursor: pointer;
        color: var(--blue);
        user-select: none;
    }
    * + * {
        margin-left: 1.75rem;
    }
    .page + .page {
        margin-left: 1.25rem;
    }
    .page {
        color: var(--grey);
        font-weight: 400;
        font-size: 1.125rem;
        &.active {
            font-weight: 700;
            color: var(--blue);
            border-bottom: 0.063rem var(--blue) solid;
        }
    }
}
