<div class="content">
    <div class="body">
        <h1>Contato</h1>
        <h4>Secretaria Municipal de Cultura</h4>
        <p>
            Av. Castor Vieira Régis, 610, Cohabinal - Parnamirim/RN, CEP:
            59140-670
        </p>
        <p>(84) 3644-8336</p>
        <p>culturadeparnamirim@gmail.com</p>
        <div class="social">
            <a href="{{ facebook }}" target="_blank"
                ><img
                    id="fb"
                    src="./../../../../assets/icons/Facebook.svg"
                    alt=""
            /></a>
            <a href="{{ instagram }}" target="_blank"
                ><img
                    id="ig"
                    src="./../../../../assets/icons/Instagram.svg"
                    alt=""
            /></a>
            <a href="{{ youtube }}" target="_blank">
                <img
                    id="yt"
                    src="./../../../../../assets/icons/Youtube.svg"
                    alt=""
            /></a>
        </div>
    </div>
    <app-contato-box></app-contato-box>
</div>
