@mixin filter-blue-primary() {
    filter: invert(13%) sepia(75%) saturate(2331%) hue-rotate(209deg)
        brightness(94%) contrast(88%);
}

@mixin filter-orange-primary() {
    filter: invert(88%) sepia(20%) saturate(3707%) hue-rotate(310deg)
        brightness(100%) contrast(94%);
}

@mixin filter-orange-togrey() {
    filter: invert(88%) sepia(28%) saturate(3000%) hue-rotate(4deg)
        brightness(129%) contrast(107%);
}

@mixin filter-red-primary() {
    filter: invert(34%) sepia(50%) saturate(5605%) hue-rotate(329deg)
        brightness(106%) contrast(99%);
}

@mixin filter-green-primary() {
    filter: invert(55%) sepia(29%) saturate(4258%) hue-rotate(83deg)
        brightness(98%) contrast(64%);
}

@mixin filter-gray-primary() {
    filter: invert(66%) sepia(13%) saturate(16%) hue-rotate(317deg)
        brightness(90%) contrast(90%);
}

@mixin box-shadow($top, $left, $blur, $color) {
    box-shadow: $top $left $blur $color;
}

@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
    background-image: $imgpath;
    background-repeat: #{$repeat};
    background-position: 95% 50%;
}
