<div class="bodyFormCadastroEditais">
  <span>Cadastro de editais</span>

  <div class="formCadastroEditais">
    <input class="titulo" type="text" placeholder="Título" />
    <textarea
      class="descreva"
      type="text"
      placeholder="Descreva aqui o edital..."
    ></textarea>
    <input class="email" type="text" placeholder="E-mail para contato" />
  </div>

  <form [formGroup]="form">
    <div *ngIf="form.links.controls.value" class="formLinks">

      <div class="buttons">
        <button (click)="newForm()" class="addLink">ADICIONAR LINK +</button>
        <button class="cadastrar">CADASTRAR</button>
      </div>

      <div
        class="links"
        formArrayName="links"
        *ngFor="
          let newLink of form.links.controls.value;
          let i = index
        "
      >
        <ng-container [formGroupName]="i">
          <input
            class="nomeLink"
            type="text"
            formControlName="nomeLink"
            placeholder="Nome do link"
          />

          <input
            class="coleLink"
            type="text"
            formControlName="coleLink"
            placeholder="Cole o link aqui..."
          />

          <img src="./assets/lixeira.svg" alt="excluir" />
        </ng-container>
      </div>
    </div>
  </form>
</div>
