<div class="content">
    <div class="content__title">
        <h1 class="title-nucleo-musica-page">Núcleo de Música</h1>
    </div>

    <div class="content__text">
        <p>
            Em 1961 o sargento da Força Aérea Brasileira, Epitácio Leopoldino de
            Oliveira, iniciou um trabalho de formação de músicos denominando
            “Escola de Música Antônio Tonheca Dantas”, um grande músico e
            compositor norte riograndense da época, que também deu nome à Banda
            criada através dessa “Escola”.
        </p>
        <p>
            A “Banda de Música Antônio Tonheca” passa a ter reconhecimento
            oficial em 23 de maio de 1989 através da Lei Municipal número
            610/89, que cria a banda de música do município de Parnamirim. A
            partir dos anos 90, sob direção do Maestro Francisco Bezerra
            (Xexéu), a Escola e a Banda de Música passam a ser chamadas
            “Epitácio Leopoldino de Oliveira”, em homenagem ao seu fundador. Em
            07 de Abril de 2004, apenas a Banda recebe novo nome, “Trampolim da
            Vitória”.
        </p>
        <p>
            A Banda Trampolim da Vitória ensejou na criação de um núcleo de
            música na qual ofereceria à população o acesso a oficinas de música,
            teoria musical e prática de diversos instrumentos.
        </p>
        <p>
            No decorrer dos anos, foram criados 06 Polos Musicais nos CRAS, em
            parceria com a Secretaria Municipal de Assistência Social – SEMAS),
            bem como, diversos grupos de instrumentistas: Quinteto de Sopros;
            Quarteto de Trompas; Quarteto de Trombones; Sexteto de Jazz; e a Big
            Band. Com a criação da Big Band, ainda em 2019, foi executado o
            Projeto Artístico Musical em homenagem aos 100 anos de Jackson do
            Pandeiro, com o cantor Isaque Galvão, e outro projeto também
            importante com o cantor Sérgio Luiz em apresentações culturais
            promovidas pela FUNPAC.
        </p>
        <p>
            Além disso, o núcleo de Música, têm se comprometido em oferecer o
            ensino gratuito e de qualidade à população Parnamirinense durante o
            período de 2019 a março de 2020 com os instrutores da chamada
            Pública 001/2019 e os estagiários, proporcionando a aprovação de
            alunos para o ingresso nos cursos técnicos da Escola de Música da
            UFRN, bem como, o aperfeiçoamento dos nossos estagiários para os
            cursos de Bacharel em instrumento e licenciatura em música e têm se
            comprometido também com a atenção aos alunos com necessidades
            especiais, bem como, com os idosos e priorizando as crianças e
            adolescentes de 08 à 18 anos.
        </p>
    </div>
</div>
