<div class="parent">
    <div
        class="div1 box important"
        (click)="openModal(['Kátia Pires'], 'SECRETARIA MUNICIPAL DE CULTURA')"
    >
        <span>SEMUC</span>
    </div>
    <div class="level-one-hr"></div>

    <div class="level-one-vert">
        <div class="first-arrow-vert"></div>

        <div class="triangles">
            <div class="arrow1"></div>
        </div>

        <div class="second-arrow-vert">
            <div class="triangle_down0"></div>
        </div>
    </div>

    <div class="seta-vert1">
        <div class="triangle_down1"></div>
    </div>

    <div class="seta-vert2">
        <div class="triangle_down2"></div>
    </div>

    <div
        class="div8 box important"
        (click)="
            openModal(
                ['Moniky Dasnaya'],
                'COORDENÇÃO DE DESENVOLVIMENTO E CULTURA'
            )
        "
    >
        <span>COORD. DES. CULTURA</span>
    </div>
    <div
        class="div9 box important"
        (click)="
            openModal(
                ['Alyne Sussany'],
                'COORDENAÇÃO DE ADMINISTRAÇÃO E FINANÇAS'
            )
        "
    >
        <span>COORD. ADM. E FIN.</span>
    </div>
    <div
        class="div10 box important"
        (click)="
            openModal(['Keity Rayane'], 'COORDENAÇÃO DE PROJETOS CULTURAIS')
        "
    >
        <span>COORD. PROJ. CULTURAIS</span>
    </div>
    <div class="level-two-hr"></div>

    <div class="seta-vert6">
        <div class="triangle_down6"></div>
    </div>

    <div class="seta-vert7">
        <div class="triangle_down6"></div>
    </div>

    <div class="seta-vert8">
        <div class="triangle_down8"></div>
    </div>

    <div class="seta-vert9">
        <div class="triangle_down9"></div>
    </div>

    <div class="seta-vert10">
        <div class="triangle_down7"></div>
    </div>

    <div class="seta-vert11">
        <div class="triangle_down7"></div>
    </div>

    <div class="seta-vert15">
        <div class="triangle_down7"></div>
    </div>

    <div class="seta-vert13">
        <div class="triangle_down9"></div>
    </div>

    <div class="level-three-hr"></div>

    <div
        class="div19 box important"
        (click)="openModal(['Matthaus'], 'ASSISTENTE ADMINISTRATIVO')"
    >
        <span>ASSISTENTE ADM.</span>
    </div>
    <div
        class="div20 box important"
        (click)="
            openModal(['Larissa'], 'GERENTE DE DESENVOLVIMENTO DA CULTURA')
        "
    >
        <span>GERENTE DE DESEN. DA CULTURA</span>
    </div>
    <div
        class="div21 box important"
        (click)="openModal(['Wanessa Lima'], 'PLANETÁRIO')"
    >
        <span>PLANETÁRIO</span>
    </div>
    <div
        class="div22 box important"
        (click)="openModal(['Francisco Miranda'], 'ESTRUTUTRA')"
    >
        <span>ESTRUTUTRA</span>
    </div>
    <div
        class="div23 box important"
        (click)="openModal(['Josiele'], 'RECURSOS HUMANOS')"
    >
        <span>RECURSOS HUMANOS</span>
    </div>
    <div
        class="div24 box important"
        (click)="openModal(['Jucenor', 'Selma'], 'ARTES')"
    >
        <span>ARTES</span>
    </div>
    <div
        class="div25 box important"
        (click)="openModal(['Marx', 'Luis'], 'DANÇA')"
    >
        <span>DANÇA</span>
    </div>
    <div
        class="div26 box important"
        (click)="
            openModal(
                [
                    'Jociel',
                    'Isaias',
                    'Paulo',
                    'Erivanildo',
                    'Naoson',
                    'Alenuska'
                ],
                'MÚSICA'
            )
        "
    >
        <span>MÚSICA</span>
    </div>
</div>
