<div class="content">
    <div class="content__title">
        <h1 class="title-nucleo-musica-page">Núcleo de Dança</h1>
    </div>

    <div class="content__text">
        <p>
            O Núcleo de Dança da Fundação Parnamirim de Cultura - FUNPAC,
            oferece, gratuitamente, oficinas de dança de diversas modalidades.
        </p>
        <p>
            Inicialmente, essas oficinas funcionavam em imóveis alugados pela
            Prefeitura Municipal de Parnamirim, em salas improvisadas,
            inclusive, antes da construção do Teatro Municipal Paulo Barbosa da
            Silva, a última instalação da FUNPAC foi no bairro Boa Esperança, em
            que foi alugado um galpão com amplos compartimentos, e ali foram
            improvisadas salas de balé e danças populares. Esse espaço passou a
            ser chamado de “Galpão das Artes”.
        </p>
        <p>
            Em 2014 foi inaugurado o Teatro Municipal Paulo Barbosa da Silva,
            ocasião em que a FUNPAC se transferiu, logo após a sua inauguração,
            para esse espaço e ali seguiram com a mesma dinâmica.
        </p>
        <p>
            O Núcleo de Dança, através da FUNPAC, já realizou diversos eventos,
            como por exemplo:
            <strong
                >Mostras de Dança, Parnamirim Dança a Sua História, O Espetáculo
                De Arendelle A Parnamirim, As Princesas Elsa E Ana Visitam O Rio
                Pitimbu, Espetáculo Câmara Cascudo e o Tapete Mágico, Espetáculo
                Dom Quixote em Parnamoscou, Espetáculo Manoel De Barros:
                Alquimista Da Palavra, Espetáculo As Lâminas De
                Parnamirim</strong
            >
            e tantos outros.
        </p>
        <p>
            A partir de 2016 fizemos parceria com o <strong>Tanz</strong>,
            festival de balé que agrega bailarinos de todo o Brasil, consistindo
            num evento que mobiliza o teatro ao longo de uma semana, com grande
            participação de público.
        </p>
    </div>
</div>
