<div *ngIf="messageBox.show">
    <div
        class="backgroundMessage"
        [ngStyle]="{
            background: messageBox.loading
                ? 'rgba(0, 0, 0, 0.1)'
                : messageBox.success
                ? 'rgba(51, 169, 59, 0.5)'
                : 'rgba(235, 45, 52, 0.5)'
        }"
    ></div>

    <app-spinner
        class="message"
        id="loading"
        *ngIf="messageBox.loading"
    ></app-spinner>

    <p
        class="message"
        id="msgSucess"
        *ngIf="messageBox.success && !messageBox.loading"
    >
        Mensagem enviada com sucesso.
    </p>

    <p
        class="message"
        id="msgFailed"
        *ngIf="!messageBox.success && !messageBox.loading"
    >
        Erro, tente novamente!
    </p>
</div>
