<!-- Alterar senha ERRO! -->
<div class="alterarPopup">
    <img src="./assets/icons/Modal/popupError.svg" alt="algo deu errado" />
    <span class="textOops">Oops...</span>
    <div class="Error">
        <span class="textError">Algo deu errado,</span>
        <span class="textError">tente novamente</span>
    </div>
</div>

<!-- Alterar senha SUCESSO! -->
<div class="alterarPopupSucess">
  <img src="./assets/icons/Modal/popupSucess.svg" alt="Senha alterada com sucesso!" />
  <span class="textSucess">Senha alterada com sucesso!</span>
</div>
